body {
    background-color: white;
    margin: auto;
    padding: auto;
    cursor: url('Smiley_Face.png'), auto;
}

.header {
  background-color: white;
}
.heading {
  margin-left: 2%;
  color: black;
  font-family: anton, sans-serif;
font-style: normal;
font-size: 15px;
font-weight: 400;
letter-spacing: 5px;
}
.topnav {
  overflow: hidden;
  text-align: center;
  font-family: anton, sans-serif;
font-style: normal;
font-size: 100%;
font-weight: 400;
letter-spacing: 5px;
}
.navbar {
  
    outline-style: solid;
    outline-color: black;
    outline-width: 4px;
  }
  .topnav a {
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: black;
    color: white;
  }
  
  a {
    text-decoration:none;
    color: black;
  }
  
  a:hover{
    text-decoration:none;
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: transparent;
    color: black;
  }
  .fa-linkedin {
    background: transparent;
    color: black;
  }
  .footer {
    position: relative;
    margin-top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
}

    section {
      position: relative;
      top: 150px;
      right: 85px;
        float: right;
        display: flex;
        width: 600px;
        height: 200px;
        padding: 20px;
      }

      .self {
        position: relative;
        top: 150px;
        margin-left: 10%;
        padding: 20px;
        float: left;
        display: flex;
        left:20px;
        width: 490px;
        height: 590px;
        object-fit: contain;
      }
      .about {
        background-color: white;
        outline-style: solid;
        outline-color: black;
        color: black;
        font-family: anton, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: -8px;
    text-align: justify;
    border: 20px;
            padding: 15px;
            margin-left: -10px;
            border-radius: 5px;
    }
p {
    font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
        font-size: 100%;
font-weight: 400;
letter-spacing: 3px;
word-spacing: -5px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  