body {
  /*background-color:#fff;*/
  background-color: 	#ececec;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #A9A9A9 1px, rgba(0, 0, 0, 0) 1px);
  background-position: center;
  background-attachment: fixed;
  cursor: none; /* Hide the default cursor */
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.main-linebar {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;

  outline: 9px solid #1A191A;
  width: 100vw;
  padding: 0;
}
/*.main-linebar{
  justify-items: center;
  outline-style: solid;
  outline-width: 9px;
  outline-color:#33cccc;
  width: 95%;
  margin: auto;
  padding: 0;
position: fixed;
z-index: 1;

/* border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
}*/
.gabe {
margin-left: 30px;
font-family: "articulat-cf", sans-serif;
font-weight: 600;
font-style: normal;
/*text-transform: uppercase;*/
  font-size: clamp(15px, 8vw, 15px);
  color: #1A191A;
 /* color: #002fa7;*/
}

/*.heading1{
  margin-top: -3px;
  display: inline-block;
text-align: left;
}*/
.heading1:hover:not(.active) {
color: #6b6b6b;
}
/*.topnav {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: 
  align-items: center;
 /* padding: 2px 30px;*
  background-color: #ececec;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100vw;
  z-index: 1;
  font-family: "articulat-cf", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: clamp(13px, 8vw, 13px);
}*/
.topnav {
  z-index: 1;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-family: "articulat-cf", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: clamp(13px, 8vw, 13px);
margin:auto;
outline-width: 20px;
padding-top: 20px;
padding-bottom: 20px;
  position: fixed;
  top: 10px;
  left: 0;              
  width: 100%;       
  background-color: #ececec;
  border-bottom: 1.5px solid #1A191A;
}

.heading1 a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.nav-items ul {
 
  display: flex;
  gap: 30px; /* spacing between links */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items li a {
  margin-right: 30px;
  display: block;
  line-height: 30px;
  color: #1A191A;
 /* color: #1A191A;*/
  text-decoration: none;
}

.nav-items a:hover:not(.active) {
  text-decoration: overline;
}

.active {
  text-decoration: overline;
}


/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .nav-items {
    display: none;
    width: 100%;
    background-color: #ececec;
    position: absolute;
    top: 73px; /* Adjust based on your .topnav height */
    right: 0; /* Align to the right */
    z-index: 999;
    border-bottom: 1px solid #ccc;
   /* border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    padding: 0;
    padding-bottom: 20px;
  }

  .nav-items ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding: 0;
    margin: 0;
  }

  .nav-items li {
    margin: 0;
    margin-right: -20px;
  }

  .hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
  }

  .nav-items.show {
    display: block;
  }
}

/*.gabe {
font-family: "articulat-cf", sans-serif;
font-weight: 600;
font-style: normal;
text-transform: uppercase;
  font-size: clamp(15px, 8vw, 25px);
}

.heading1{
  margin-top: -3px;
  display: inline-block;
text-align: left;
}
h1:hover:not(.active) {
color: #6b6b6b;
}
.topnav {
  z-index: 1;
  overflow: hidden;
  font-family: "articulat-cf", sans-serif;
font-weight: 600;
font-style: normal;
text-transform: uppercase;
  font-size: clamp(15px, 8vw, 15px);
  position: fixed; 
  top: 10px; 
  left: 2.5%; 
  width: 95%; 
}

.navbar {
    outline-style: solid;
    outline-color:#1A191A;
    outline-width: 1px;
  }

  .nav-items {
    margin-top: -65px;
  }
  
  .topnav, .nav-items a:hover:not(.active) {
    background-color: transparent;
   
    text-decoration: overline;
  }
  
  a {
    text-decoration:none;
    color: 	#1A191A;
  }
  

  ul {
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  
  li a {
    
    text-align: right;
    display: block;
    line-height: 30px;
 
  }
  .active {
    text-decoration: overline;
   
  }*/

  h4 {
    color: 	#1A191A;
    font-family: "dico-code-one", mono;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
/*letter-spacing: 2px;*/
word-spacing: 2px;
  } 
  .heading {
  /* margin-top: 10%;
   margin-left: 2.5%;
     width: 95%;*/
     position: relative; /* Changed from relative */
     top: 100px; /* Adjust as needed */
     left: 50%;
     transform: translateX(-50%);
     
     color: #1A191A;
     font-family: "articulat-heavy-cf", sans-serif;
     font-weight: 900;
     font-style: normal;
     font-size: clamp(2rem, 8vw, 100px);
     text-align: center;
     width: 95vw;
     height: auto;
     padding-bottom: 70px;
  }

  .sub-header {
    position: relative;
    top: -640px; /* Adjust as needed */
    
    font-family: "dico-code-one", mono;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
      font-size: clamp(13px, 2vw, 9px);
     

  }

  .linebar1 {
    outline-style: solid;
    outline-width: 0.1px;
    outline-color:#1A191A;
    width: 45%;
    
    margin-right: 52.5%;
    
   margin-top: 100px;
    
  }
  
  .linebar {
    outline-style: solid;
    outline-color:#A9A9A9;
    outline-width: 0.1px;
    width: 100vw;
   margin: auto;
  }

  p {
        font-family: "Theinhardt-Pan-regular";
        font-size: 15px;
        width: 95%;
        margin: auto;
        line-height: 2px;
        position: relative;
        top: 40px;
  }

  .fade-in-text {
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
    * {
      transition: all .4s;
    }
  
    .main_content {
      /*margin: 60px 0 40px;*/
     /* column-gap: 5px;*/
     column-gap: 10px;
      width: 95vw;
      margin: auto;
     /* margin-top: 50px;*/
     margin-top: 150px;
      padding-bottom: 30px;
     
    }
      /*.picture_wrapper {
        margin-bottom: 5px;
      }*/
      .imgLink { border: none; background: none; }
.imgLink img
{
  height: 8rem;
}
.imgLink:active img, .imgLink:focus img
{
  height: 16rem;
}
        img {
          height: auto;
          width: 100%;
          align-content: center;
          object-fit: contain;
          border-radius: 2px;
          
        }
        * {
          box-sizing: border-box;
        }
        .plus a {
          font-size: 65px;
          color:#ececec;
         }
        .overlay {
          align-content: center;
          position: absolute; 
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #1A191A;
         /* background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.5); /* Black see-through 
          color: #f1f1f1; */
          width: 100%;
          height: auto;
          transition: .5s ease;
          opacity:0;
          color: #ececec;
          /*color: #F9F6EE;*/
          font-family: "Theinhardt-Pan-regular";
         /* font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
        font-weight: 400;*/
          font-size: 15px;
          padding: 20px;
          text-align: center;
        }
        .container {
          position: relative;
          
        }
        .container:hover .overlay {
          opacity: 1;
        }

  /* responsive */
  @media (min-width: 1200px) {
    .main_content {
      column-count: 4;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    .main_content {
      column-count: 3;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    .main_content {
      column-count: 2;
    }
  }
  
  @media (max-width: 575px) {
    .main_content {
      column-count: 1;
    }
  }
  


a {
    text-decoration:none;
    color: #1A191A;
  }
  
 /* a:hover{
    text-decoration:none;
  }*/
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    /*border-radius: 50%;*/
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: transparent;
    color: #1A191A;
  }
  .fa-linkedin {
    background: transparent;
    color: #1A191A;
  }
  .footer {
    position:relative;
    margin: auto;
    margin-top: 55px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
 }
 
    
 .custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px; /* Adjust size as needed */
  height: 25px;
  border: 1.5px solid #1A191A; /* black outline */
  background-color: #ececec;
 /*background-color: #1e4bf5;*/
  border-radius: 50%; /* Make it a circle */
  pointer-events: none; /* Ensure it doesn't block clicks */
  z-index: 10000; /* Keep it above all other elements */
  transition: transform 0.1s ease, background-color 0.2s ease, opacity 0.2s ease;
  transform: translate(-50%, -50%);
  opacity: 0; /* Start as hidden */
}
.hidden {
  opacity: 0; /* Hide when out of bounds */
}

@font-face {
  font-family: "Theinhardt-Pan-Bold";
  src: url(Theinhardt-Pan-Bold/Theinhardt-Pan-Bold.otf);
}

@font-face {
  font-family: "Theinhardt-Pan-Regular";
  src: url(Theinhardt-Pan-Regular/Theinhardt-Pan-Regular.otf);
}
@font-face {
  font-family: "Theinhardt-Pan-Bold-Italic";
  src: url(Theinhardt-Pan-Bold-Italic/Theinhardt-Pan-Bold-Italic.otf);
}
@font-face {
  font-family: "Theinhardt-Pan-Heavy";
  src: url(Theinhardt-Pan-Heavy/Theinhardt-Pan-Heavy.otf);
}
@font-face {
  font-family: "Theinhardt-Pan-Italic";
  src: url(Theinhardt-Pan-Italic/Theinhardt-Pan-Italic.otf);
}

@font-face {
  font-family: "Test-Pitch-Medium";
  src: url(Test-Pitch/TestPitch-Medium.otf);
}

@font-face {
  font-family: "Test-Pitch-Medium-Italic";
  src: url(Test-Pitch/TestPitch-MediumItalic.otf);
}

.Articulat-CF-Extra-Bold {
  font-family: "articulat-cf", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.Articulat-CF-Medium {
  font-family: "articulat-cf", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.Articulat-CF-Regular {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.Articulat-CF-Regular {
font-family: "articulat-cf", sans-serif;
font-weight: 300;
font-style: normal;
}

.Dico-Code-One-Regular {
  font-family: "dico-code-one", mono;
  font-weight: 400;
  font-style: normal;
}

 
    /*
    .row {
      
      display: flex;
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    .column {
      -ms-flex: 25%; 
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
    
    
    @media screen and (max-width: 800px) {
      .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
} 
*/