body {
  color: whitesmoke;
    font-family: "latino-gothic-variable",sans-serif;
    font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1;
    background-color: black;
    margin: auto;
    padding: auto;
  
}
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .header {
    background-color: black;
  }
  .heading {
    margin-left: 5%;
    color: whitesmoke;
    font-family: anton, sans-serif;
font-style: normal;
font-size: 15px;
font-weight: 400;
letter-spacing: 5px;
}

  
  .workdoc {
    font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1;   
    width: 20px;
    margin: center;
  }
  .type {
    background-color: whitesmoke;
      color: black;
    font-family: anton, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    
  }
  .topnav {
    overflow: hidden;
    text-align: center;
    font-family: anton, sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 5px;
  }
  .navbar {
      outline-style: solid;
      outline-color: whitesmoke;
    }
    .topnav a {
      padding: 14px 50px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: whitesmoke;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      outline-style: dashed;
      color: whitesmoke;
    }
  
    a {
      text-decoration:none;
      color: whitesmoke;
    }
    
    a:hover{
      text-decoration:none;
    }
    .fa {
        padding: 30px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    .fa:hover {
      opacity: 0.7;
    }
    .fa-instagram {
      background: black;
      color: whitesmoke;
    }
    .fa-linkedin {
        background: transparent;
        color: whitesmoke;
      }
    .footer {
        outline-style: solid;
        outline-color: whitesmoke;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        text-align: center;
     }
    
    
      * {
        box-sizing: border-box;
      }
      .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color:black;
        border: whitesmoke;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label,
    input,
    textarea {
        display: block;
        margin-bottom: 10px;
    }
    
    input,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
    }
    
    button {
        padding: 10px 20px;
        background-color: black;
        color: whitesmoke;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #1134A6;
    }    