body {
  background-color: #1A191A;
  margin: auto;
  padding: auto;
}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.heading1{
  margin-top: -30px;
  display: inline-block;
font-family: "Theinhardt-Pan-Bold";
font-size: 27px;
letter-spacing: -4px;
line-height: 53px;
text-align: left;
}
h1:hover:not(.active) {
color: gray;
}
.topnav {
  overflow: hidden;
  font-family: "Theinhardt-Pan-regular";
  font-size: 12px;
margin-top: 10px;
padding-left: 35px;
padding-right: 35px;
}
    @font-face {
      font-family: "Theinhardt-Pan-Bold";
      src: url(Theinhardt-Pan-Bold/Theinhardt-Pan-Bold.otf);
    }
    
    @font-face {
      font-family: "Theinhardt-Pan-Regular";
      src: url(Theinhardt-Pan-Regular/Theinhardt-Pan-Regular.otf);
    }
.navbar {
    outline-style: solid;
    outline-color:#353935;
    outline-width: 1px;
  }
  /*.topnav a {
    text-decoration: none;
  }*/
  
  /* Change the color of links on hover */
  .topnav h3:hover:not(.active) {
    background-color: transparent;
    color: gray;
    text-decoration: overline;
    /*color: #002FA7;*/
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  /* li {
    float: right;
    margin-left: 20px;
  }*/
  
  li a {
    text-align: right;
    display: block;
    line-height: 13px;
   /* padding: 2px 15px;*/
  }
  .active {
    /*color: #353935;*/
    /*color: #002FA7;*/
    /*outline-style:solid;
    outline-color: #353935;*/
    color: gray;
    text-decoration: overline;
  }
  
  .container {
    display: flex;
    column-gap: 10vw;
    margin-top: 70px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 40px;
  }

  .main-title {
    padding-top: 40px;
    margin-left: 45px;
  color: gainsboro;
  position: relative;
  font-family: "Theinhardt-Pan-Bold";
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: underline  gainsboro;;
    text-decoration-style:dashed;
    text-decoration-thickness: 2px ;
    text-underline-offset: 20px;
  }
/* first section */
.project {
  line-height: 20px;
  display: flex;
  margin-top: 5%;
  margin-bottom: 40px;
  
}
.project-descriptor{
  font-family: "Theinhardt-Pan-regular";
  font-size: 15px;
  color: gainsboro;
}
.title1 {
  padding-top: 20px;
  color: gray;
  position: relative;
  font-family: "Theinhardt-Pan-Bold";
  text-transform: uppercase;
font-size: 15px;
}

 /* .w-row:before, .w-row:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}
.w-row:after {
  clear: both;
}

.w-row:before, .w-row:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}*/


/*@media screen and (max-width: 479px) {
  .column-18 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .column-18 {
      padding-top: 12px;
      padding-left: 0;
      padding-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .column-18 {
      padding-top: 12px;
      padding-left: 0;
      padding-right: 0;
  }
}*/
.column-18 {
  padding-left: 10px;
  padding-right: 10px;
}

/*
@media screen and (max-width: 479px) {
  .column-17 {
      padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .column-17 {
      padding-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .column-17 {
      padding-right: 0;
  }
}*/
.column-17 {
  padding-left: 0;
  padding-right: 10px;
}

/*
@media screen and (max-width: 479px) {
  .column-19 {
      padding-top: 0;
      padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .column-19 {
      padding-top: 12px;
      padding-left: 0;
  }
}
@media screen and (max-width: 991px) {
  .column-19 {
      padding-top: 12px;
      padding-left: 0;
  }
}*/
  .column-19 {
    padding-left: 10px;
    padding-right: 0;
}
/*
@media screen and (max-width: 479px) {
  .w-col {
      width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
      width: 100%;
      left: auto;
      right: auto;
  }
}

@media screen and (max-width: 991px) {
  .w-col-stack {
      width: 100%;
      left: auto;
      right: auto;
  }
}*/
.w-col-4 {
  /*width: 33.3333%;*/
  position: relative;
  width: 33%;
  /*margin-left: 5px;
  margin-right: 5px;*/
}
.w-col {
  float: left;
  position: relative;
  /*width: 100%;
  min-height: 1px;*/
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
}


/*---------------------*/


/*.about-sec {
padding: 20px;
width: 480px;
  height: 200px;
text-align: justify;
margin-left: 1%;
}*/


.fade-in-text {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  p {
    /*font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; */
        font-family: "Theinhardt-Pan-regular";
        font-size: 15px;
        color: gainsboro;
  }
 
  
  .title {
    color: gray;
    position: relative;
    font-family: "Theinhardt-Pan-Bold";
    text-transform: uppercase;
   /* font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100px;*/
  font-size: 15px;
  /*line-height: 2px;*/
  }

  h4 {
    color: gray;
    font-family: "Theinhardt-Pan-regular";
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 1px;
  } 
  .linebar {
    outline-style: dashed;
    outline-color:#353935;
    outline-width: 1px;
    margin-top: 3%;
  }

  * {
    transition: all .4s;
  }

  .main_content {
   /* margin: 60px 0 40px;*/
   margin: auto;
    column-gap: 20%;
    width: 99%;
    padding: 45px;
    position:relative;
    height:fit-content;
  }
    .picture_wrapper {
      margin-bottom: 10px;
    }
     /* .img {
        /* height: 100%;
        width: 100%; 
        align-content: center;
        object-fit: cover;
        border-radius: 2px;
      }*/

      video {
        /* override other styles to make responsive */
        width: 100%    !important;
        height: auto   !important;
       object-fit: contain;
      }
      
      * {
        box-sizing: border-box;
      }

      .instagram_mockup {
        width: 100%;
        height: auto;
       object-fit: contain;
      }

      .poster{
        width:39.3%;
        height: auto;
        object-fit: contain;
        padding-right: 10px;
        padding-bottom: 10px;
        /*top:100vh;*/
      }
    .poster_mockup{
      object-fit: contain;
      width: 59.5%;
      height: auto;
    }
    

    .main_content4 {
      margin: auto;
      column-gap: 20%;
    width: 99%;
    padding: 45px;
      position:relative;
      height:fit-content;
    }
    .picture_wrapper4 {
      margin-bottom: 10px;
    }
    .mag-cover {
      object-fit: contain;
      width: 40%;
    }

    .mag-gif {
      object-fit: contain;
      width: 100%;
    }
   
    
    
    .main_content2 {
      /*background-color: #FAF9F6;*/
      margin: auto;
      column-gap: 20%;
      width: 99%;
      padding: 45px;
      position:relative;
      height:fit-content;
    }
      .picture_wrapper2 {
        margin-bottom: 10px;
      }
       
  
        .cover {
          /* margin-top: 181%; */
          position: relative;
          width: 40.2%;
          height: auto;
          object-fit: contain;
          /* position:absolute; */
        }
  
        .spread1{
          /* position:absolute; */
          width:49.5%;
          height: auto;
        
          position: relative;
          /*margin-left: 36.5%;*/
          object-fit: contain;
          /*top:100vh;*/
          
        }
        .spread2{
          /* position:absolute; */
          position: relative;
          height: auto;
          width:100%;
          /*transform: rotate(90deg);
          margin-left: -10%;
          margin-top: -27.9%;*/
          object-fit: contain;
          /*top:100vh;*/
        }
      .spread3{
        /* position:absolute; */
        position: relative;
        width:49.5%;
        height: auto;
        /*margin-top: -30%;*/
        object-fit: contain;
      }
      .interface {
        /* override other styles to make responsive */
        position: relative;
        /*margin-top: -8%;
        margin-left: 38%;*/
        width: 59%   !important;
        height: auto   !important;
       object-fit: contain;
      }


      
      .main_content3 {
        /*background-color: #FAF9F6;*/
        
        margin: auto;
        column-gap: 20%;
        width: 99%;
        padding: 45px;
        
       
      }
        .picture_wrapper3 {
          margin-bottom: 10px;
        }
        .poster2 {
          /* margin-top: 181%; */
          width: 35vw;
          object-fit: contain;
          /* position:absolute; */
        }
        .event-poster {
          width: 35vw;
          /*margin-left: 0px;*/
          object-fit: contain;
        }
        .mockup1{
          /* position:absolute; */
          width:57vw;
          height: auto;
          object-fit: contain;
          /*top:100vh;*/
        }
        .mockup2{
          /* position:absolute; */
          width:35vw;
          height: auto;
          object-fit: contain;
          /*top:100vh;*/
        }
      
      
/* responsive */
@media (min-width: 1200px) {
  .main_content .main_content2 .main_content3{
    column-count: 4;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main_content .main_content2 .main_content3{
    column-count: 3;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main_content .main_content2 .main_content3{
    column-count: 2;
  }
}

@media (max-width: 575px) {
  .main_content .main_content2 .main_content3{
    column-count: 1;
  }
}


  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    outline-style: solid;
    outline-color: gainsboro;
    outline-width: 3px;
    background-color: transparent; /* Set a background color */
    color: gainsboro; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-family: "Theinhardt-Pan-regular";
    font-size: 15px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: gainsboro; /* Add a dark-grey background on hover */
    color: #353935;
  }

  .fa {
    /*padding: 10px;*/
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    /*border-radius: 50%;*/
  }
    .fa:hover {
      opacity: 0.7;
    }
    .fa-instagram {
      background: transparent;
      color: gainsboro;
    }
    .fa-linkedin {
        background: transparent;
        color: gainsboro;
      }
    .footer {
        position: relative;
        margin-top: 10%; 
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        text-align: center;
     }
    
    a {
        text-decoration:none;
        color: gainsboro;
      }
      
     /* a:hover{
        text-decoration:none;
      }*/
      * {
        transition: all .4s;
        box-sizing: border-box;
      }