body {
  /*background-color:#fff;*/
  background-color: 	#ececec;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  background-attachment: fixed;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .project {
      flex-direction: column;
      align-items: flex-start;
  }
}
.gabe {
  font-family: "Theinhardt-Pan-bold";
  font-size: clamp(12px, 5vw, 30px);
/*font-size: 40px;*/
text-transform: uppercase;
}
/*.marroquin {
  margin-top: -25px;
  font-family: "Theinhardt-Pan-Regular";
  font-size: clamp(20px, 5vw, 40px);
text-transform: uppercase;
}*/   /*font-size: 40px;*/

.heading1{
  margin-top: -3px;
  display: inline-block;
  
/*font-family: "Theinhardt-Pan-Bold";
 margin-top: -20px;
font-size: 23px;
letter-spacing: -4px;
line-height: 40px;*/
text-align: left;
}
h1:hover:not(.active) {
color: #6b6b6b;
}
.topnav {
  overflow: hidden;
  font-family: "Theinhardt-Pan-regular";
  font-size: 12px;
  width: 95%;
  margin: auto;
}
    @font-face {
      font-family: "Theinhardt-Pan-Bold";
      src: url(Theinhardt-Pan-Bold/Theinhardt-Pan-Bold.otf);
    }
    
    @font-face {
      font-family: "Theinhardt-Pan-Regular";
      src: url(Theinhardt-Pan-Regular/Theinhardt-Pan-Regular.otf);
    }
.navbar {
    outline-style: solid;
    outline-color:#1A191A;
    outline-width: 1px;
  }
  /*.topnav a {
    text-decoration: none;
  }*/
  
  /* Change the color of links on hover */
  .topnav h3:hover:not(.active) {
    background-color: transparent;
    /*color: gray;*/
    text-decoration: overline;
    /*color: #002FA7;*/
  }
  ul {
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  /* li {
    float: right;
    margin-left: 20px;
  }*/
  
  li a {
    text-align: right;
    display: block;
    line-height: 13px;
   /* padding: 2px 15px;*/
  }
  .active {
    /*color: #353935;*/
    /*color: #002FA7;*/
    /*outline-style:solid;
    outline-color: #353935;*/
    /*color: gray;*/
    text-decoration: overline;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10vw;
     width: 95%;
  margin: auto;
  padding-top: 45px;
    padding-bottom: 40px;
  }

  .main-title {
    padding-top: 45px;
  width: 95%;
  margin: auto;
  color: #002fa7;
  position: relative;
  font-family: "Theinhardt-Pan-Bold";
  font-size: 50px;
  text-transform: uppercase;
  /*text-decoration: underline  gainsboro;;
    text-decoration-style:solid;
    text-decoration-thickness: 2px ;
    text-underline-offset: 20px;*/
  }
  .linebar2 {
    outline-style: solid;
    outline-width: 1px;
    outline-color:#1A191A;
    width: 45%;
    margin: auto;
    margin-right: 52.5%;
    padding: 0;
   margin-top: 15px;
  }
  /*.linebar2 {
    outline-style: solid;
    outline-width: 1px;
    outline-color:#1A191A;
    width: 95%;
    margin: auto;
    padding: 0;
   margin-top: 15px;
    
  }*/
/* first section */
.project1 {
  line-height: 20px;
  display: flex;
  margin: auto;
  width: 95%;
  padding-top: 45px;
  padding-bottom: 45px;
  
}
.project {
  line-height: 25px;
  display: flex;
  margin: auto;
  width: 95%;
  padding-top: 45px;
  padding-bottom: 45px;
  
}

.project-descriptor{
  font-family: "Theinhardt-Pan-regular";
  font-size: 18px;
  color: #1A191A;
  padding-bottom: 15px;
}

.title1 {
  
  color: #1A191A;
  
  font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 50, 'wdth' 76, 'slnt' 1; 
  text-transform:capitalize;
font-size: 18px;
}

 

.w-col {
  padding-top: 20px;
  width: 100%;
  margin: auto;
}

/*---------------------*/


/*.about-sec {
padding: 20px;
width: 480px;
  height: 200px;
text-align: justify;
margin-left: 1%;
}*/


.fade-in-text {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
   /*p {
   font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
        font-family: "Theinhardt-Pan-regular";
        font-size: 13px;
        color: #1A191A;
  }*/
 
  
  .title {
    color: #1A191A;
    position: relative;
    font-family: "Theinhardt-Pan-Bold";
    text-transform: uppercase;
  font-size: 15px;
  }

  h4 {
    color: #6b6b6b;
    font-family: "Theinhardt-Pan-regular";
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 1px;
  } 
  .linebar {
    outline-style: solid;
    outline-width: 1px;
    outline-color:#1A191A;
    width: 95%;
    margin: auto;
    /*margin-right: 52.5%;*/
    padding: 0;
   margin-top: 15px;
    /*outline-style: dashed;
    outline-color:#d0d0d0;
    outline-width: 1px;
    margin-top: 3%;
    width: 95%;
  margin: auto;*/
  }

  * {
    transition: all .4s;
  }

  /*.main_content {
    column-gap: 20%;
    width: 95vw;
    padding-bottom: 45px;
  margin: auto;
    height:fit-content;
  }
    .picture_wrapper {
      margin-bottom: 10px;
    }
    img {
      max-width: 100%;
      min-height: 100%;
        height: auto;
    }*/

      video {
        width: 100%    !important;
        height: auto   !important;
       object-fit: contain;
      }
      .main_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      margin: auto;
      }
      .picture_wrapper {
        width: 95vw;
      margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }
      img {
        max-width: 100%;
        height: auto;
        flex: 1 1 300px; /* Adjust the flex basis as needed */
      }
      @media (max-width: 768px) {
        .main_content, .main_content2, .main_content3, .main_content4, .main_content5 {
          padding: 10px;
        }
        .picture_wrapper, .picture_wrapper2, .picture_wrapper3, .picture_wrapper4, .picture_wrapper5 {
          flex-direction: column;
        }
      }
      
      * {
        box-sizing: border-box;
      }

      .instagram_mockup {
        width: 500px;
        height: auto;
       object-fit: contain;
      }

      .poster{
        
        /*width:39.5%;*/
        width: 500px;
        height: auto;
        object-fit: contain;
        /*padding-right: 10px;
        padding-bottom: 10px;
        /*top:100vh;*/
      }
    .poster_mockup{
      object-fit: contain;
      width: 820px;
      /*width: 59.4%;*/
      height: auto;
    }
    

    .main_content4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: auto;
      /*padding-bottom: 45px;
      column-gap: 20%;
    width: 95vw;
  margin: auto;
      height:fit-content;*/
    }
    .picture_wrapper4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      width: 95vw;
      /*margin-bottom: 10px;*/
    }

    .mag-gif {
      object-fit: contain;
      width: 883px;
      height: auto;
    }
    .mag-cover {
     width: 463px;
        height: auto;
       object-fit: contain;
    }
   
    .main_content5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: auto;
      /*padding-bottom: 45px;
      width: 95vw;
      margin: auto;
      column-gap: 20%;
      position: relative;
      align-items: center;
    justify-content: center;*/
    }
      .picture_wrapper5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 95vw;
        /*margin-bottom: 10px;*/
      }
      .e-poster1 {
        position: relative;
        width: 500px;
        /*width: 46.7%;*/
        height: auto;
        object-fit: contain;
      }
      .e-poster2 {
        position: relative;
        width: 500px;
        /*width: 47%;*/
        height: auto;
        object-fit: contain;
      }
      .mockup-1{
        position: relative;
        width:100%;
        height: auto;
        object-fit: contain;
      }

      /* Tabu poster*/
     /* .tabu_poster{
        width: 100px;
        height: auto;
        object-fit: contain;
      }*/

    .tabu_poster2 {
      position: relative;
        width: 500px;
        height: auto;
        object-fit: contain;
    }
    
    .main_content2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: auto;
      /*background-color: #FAF9F6;
      padding-bottom: 45px;
      column-gap: 20%;
      width: 95vw;
      margin: auto;
      position:relative;
      height:fit-content;*/
    }
      .picture_wrapper2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 95vw;
        /*margin-bottom: 10px;*/
      }
       
      .space {
        position: relative;
          width: 800px;
          height: auto;
      }
        .cover {
          /* margin-top: 181%; */
          position: relative;
          width: 500px;
          /*width: 40.2%;*/
          height: auto;
          object-fit: contain;
          /* position:absolute; */
        }
  
        .spread1{
         /* width:49.5%;*/
         width: 500px;
          height: auto;
          position: relative;
          object-fit: contain;
          
        }
        .spread2{
          width: 500px;
          position: relative;
          height: auto;
          object-fit: contain;
        }
      .spread3{
        width: 500px;
        position: relative;
        /*width:49.5%;*/
        height: auto;
        object-fit: contain;
      }
      /*.interface {
        position: relative;
        width: 59%   !important;
        height: auto   !important;
       object-fit: contain;
      }*/


      
      .main_content3 {
        display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: auto;
        /*background-color: #FAF9F6;
        padding-bottom: 45px;
        width: 95vw;
        margin: auto;
        column-gap: 20%;*/
      }
        .picture_wrapper3 {
          display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 95vw;
          /*margin-bottom: 10px;*/
        }
        .space2 {
          position: relative;
            width: 650px;
            height: auto;
        }
        .poster2 {
          position: relative;
        width: 500px;
        height: auto;
        object-fit: contain;
          /*width: 35vw;
          object-fit: contain; */
        }
        .event-poster {
          position: relative;
          width: 500px;
          height: auto;
          object-fit: contain;
          /*width: 35vw;
          object-fit: contain; */
        }
        .mockup1{
          width: 900px;
         /* width: 835px;
          /*width:57vw;*/
          height: auto;
          object-fit: contain;
          /*top:100vh;*/
        }
        .mockup2{
          width: 500px;
          /*width: 450px;
          /*width:35vw;*/
          height: auto;
          object-fit: contain;
        }
      
      
/* responsive */
@media (min-width: 1200px) {
  .main_content .main_content2 .main_content3{
    column-count: 4;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main_content .main_content2 .main_content3{
    column-count: 3;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main_content .main_content2 .main_content3{
    column-count: 2;
  }
}

@media (max-width: 575px) {
  .main_content .main_content2 .main_content3{
    column-count: 1;
  }
}


  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    outline-style: solid;
    outline-color: #1A191A;
    outline-width: 3px;
    background-color: transparent; /* Set a background color */
    color: #1A191A; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-family: "Theinhardt-Pan-regular";
    font-size: 15px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #1A191A; /* Add a dark-grey background on hover */
    color: #ececec;
  }

  .fa {
    /*padding: 10px;*/
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    /*border-radius: 50%;*/
  }
    .fa:hover {
      opacity: 0.7;
    }
    .fa-instagram {
      background: transparent;
      color: #1A191A;
    }
    .fa-linkedin {
        background: transparent;
        color: #1A191A;
      }
    .footer {
        position: relative;
        margin: auto;
        margin-top: 55px;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        text-align: center;
     }
    
    a {
        text-decoration:none;
        color: #1A191A;
      }
      
     /* a:hover{
        text-decoration:none;
      }*/
      * {
        transition: all .4s;
        box-sizing: border-box;
      }

      .wrapper {
        color:	#1A191A;
        text-align: center;
        max-width: 100%;
        overflow: hidden;
      }
      
      .marquee {
        
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        animation: marquee 11s linear infinite;
      }
      
      .marquee p {
        text-transform: uppercase;
        font-family: "Theinhardt-Pan-bold";
          font-size: 30px;
        display: inline-block;
      }

      @keyframes marquee {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(-50%, 0, 0);
        }
      }
/* animated text*/

#text {
  color: #002FA7;
  font-family: "Theinhardt-Pan-Bold";
     /*font-size: 70px;*/
     font-size: clamp(50px, 5vw, 100px);
     /*font-size: 50px;*/
     text-align: center;
text-transform: uppercase;
padding-top: 90px;
padding-bottom: 40px;

}
      #contain {
        margin: auto;
        padding: auto;
        padding-top: 75px;
        padding-bottom: 75px;
      }
      .wrap {
        /*height: 60vh;*/
        height: 45vh;
        width: auto;
        margin: auto;
        object-fit: contain;
      }