body {
    background-color: white;
    margin: auto;
    padding: auto;
}
/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.header {
  background-color: white;
}
.heading {
  margin-left: 5%;
  color: black;
  font-family: anton, sans-serif;
font-style: normal;
font-size: 15px;
font-weight: 400;
letter-spacing: 5px;
}
.topnav {
  overflow: hidden;
  text-align: center;
  font-family: anton, sans-serif;
font-style: normal;
font-size: 100%;
font-weight: 400;
letter-spacing: 5px;
}
.navbar {
    outline-style: solid;
    outline-color:black;
    outline-width: 4px;
  }
  .topnav a {
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: black;
    color: white;
  }
  

  p{
    position: absolute;
    left: 600px;
    top: 400px;
    font-family: anton, sans-serif;
font-style: normal;
font-size: 20px;
font-weight: 400;
letter-spacing: 5px;
  }
  /* .work {
    background-color: black;
    outline-style: solid;
    outline-color: whitesmoke;
    color: whitesmoke;
    font-family: anton, sans-serif;
font-style: normal;
font-size: 100%;
font-weight: 400;
letter-spacing: 5px;
    display: flex;
    width: 20%;
    height: 20%;
    
        padding: 10px 50px;
        margin-left: 10px;
        border-radius: 5px;
  }
  
  .workdoc {
    font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1;   
    width: 20px;
    margin-left: 5%;
  } */
  .type {
    background-color: whitesmoke;
      color: black;
    font-family: anton, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    
  }
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    .fa:hover {
      opacity: 0.7;
    }
    .fa-instagram {
      background: white;
      color: black;
    }
    .fa-linkedin {
        background: transparent;
        color: black;
      }
    .footer {
        position: relative;
        margin-top: 100%;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        text-align: center;
     }
    
    a {
        text-decoration:none;
        color: black;
      }
      
      a:hover{
        text-decoration:none;
      }
      