body {
    background-color: black;
    margin: auto;
    padding: auto;
    display:grid;
}
.header {
  padding: 25px; 
  text-align: center; 
  background-color: black;
}
.heading {
  color: whitesmoke;
  font-family: anton, sans-serif;
font-style: normal;
font-size: 30px;
font-weight: 400;
letter-spacing: 5px;
}
.topnav {
  background-color: #1134A6;
  overflow: hidden;
  text-align: center;
  font-family: anton, sans-serif;
font-style: normal;
font-size: 100%;
font-weight: 400;
letter-spacing: 5px;
}
.navbar {
    outline-style: solid;
    outline-color: whitesmoke;
  }
  .topnav a {
    
    color: whitesmoke;
    text-align: right;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: whitesmoke;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    outline-style: dashed;
    color: whitesmoke;
  }
  .navbar {
    outline-style: solid;
    outline-color: whitesmoke;
  }
.container {
    height:50%;
      display:grid;
      background-color:whitesmoke;
  }
.self {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.MH {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.sad {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.cow {
  width: 434px;
  height: 534px;
  object-fit: contain;
}
.mountain {
  width: 434px;
  height: 534px;
  object-fit: contain;
}
a {
    text-decoration:none;
    color: whitesmoke;
  }
  
  a:hover{
    text-decoration:none;
  }
  .fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: black;
    color: whitesmoke;
  }
  .fa-linkedin {
    background: transparent;
    color: whitesmoke;
  }
  .footer {
    outline-style: solid;
    outline-color: whitesmoke;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
 }
  a {
      text-decoration:none;
      color: whitesmoke;
    }
    
    a:hover{
      text-decoration:none;
    }
  