body {
  /*background-color:#fff;*/
  background-color: 	#ececec;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  background-position: center;
  background-attachment: fixed;
  cursor: none; /* Hide the default cursor */
}
@media (max-width: 600px) {
  .info-content .portfolio-bio .title .bio{
      flex-direction: column;
      align-items: flex-start;
  }
}
/*@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}*/


/*.smiley{
  margin-top: -90px;
  left: 255px;
position: relative;
  display: flex;
  width: 100px;
}*/
/*.heading1 {
  margin-left: 1%;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
letter-spacing: 2px;
}
.heading2 {

  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100px;
  font-size: 20px;
letter-spacing: 2px;
}

.topnav {
  overflow: hidden;
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
letter-spacing: 2px;
}*/
/*h3{
  text-decoration: overline;
}*/

.gabe {
  font-family: "Theinhardt-Pan-bold";
  font-size: clamp(12px, 5vw, 30px);
/*font-size: 40px;*/
text-transform: uppercase;
}
/*.marroquin {
  margin-top: -25px;
  font-family: "Theinhardt-Pan-Regular";
  font-size: clamp(20px, 5vw, 40px);
text-transform: uppercase;
}*/   /*font-size: 40px;*/

.heading1{
  margin-top: -3px;
  display: inline-block;
/*font-family: "Theinhardt-Pan-Bold";
font-size: 23px;
letter-spacing: -4px;
line-height: 40px;*/
text-align: left;
}
h1:hover:not(.active) {
color: #6b6b6b;
}
.topnav {
  z-index: 1;
  overflow: hidden;
  font-family: "Theinhardt-Pan-regular";
  font-size: 12px;
  margin: auto;
  position: fixed; /* Keeps it fixed at the top */
  top: 0; /* Aligns it to the top of the viewport */
  left: 2.5%; /* Ensures it starts from the left edge */
  width: 95%; /* Spans the full width of the viewport */
}
    @font-face {
      font-family: "Theinhardt-Pan-Bold";
      src: url(Theinhardt-Pan-Bold/Theinhardt-Pan-Bold.otf);
    }
    
    @font-face {
      font-family: "Theinhardt-Pan-Regular";
      src: url(Theinhardt-Pan-Regular/Theinhardt-Pan-Regular.otf);
    }
    @font-face {
      font-family: "Theinhardt-Pan-Bold-Italic";
      src: url(Theinhardt-Pan-Bold-Italic/Theinhardt-Pan-Bold-Italic.otf);
    }
    @font-face {
      font-family: "Theinhardt-Pan-Heavy";
      src: url(Theinhardt-Pan-Heavy/Theinhardt-Pan-Heavy.otf);
    }
    @font-face {
      font-family: "Theinhardt-Pan-Italic";
      src: url(Theinhardt-Pan-Italic/Theinhardt-Pan-Italic.otf);
    }
.navbar {
  outline-style: solid;
  outline-color:	#1A191A;
  outline-width: 1px;
  }

  
  /* Change the color of links on hover */
  .topnav h3:hover:not(.active) {
    background-color: transparent;
    /*color: gray;*/
    text-decoration: overline;
  }
  
  a {
    text-decoration:none;
    color: 	#1A191A;
  }
  
  /*a:hover{
    text-decoration:none;
  }*/
  ul {
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
 /* li {
    float: right;
    margin-left: 20px;
  }*/
  
  li a {
    text-align: right;
    display: block;
    line-height: 13px;
   /* padding: 2px 15px;*/
  }
  .active {
    /*color: gray;*/
    text-decoration: overline;
    /*outline-style:solid;
    outline-color: #353935;
    outline-width: 3px;*/
  }
  /*.socials {
    margin-right: 30%;
  }*/

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    /*border-radius: 50%;*/
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: transparent;
    color: 	#1A191A;
  }
  .fa-linkedin {
    background: transparent;
    color:	#1A191A;
  }
  .footer {
    position: relative;
    margin: auto;
    margin-top: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
   
}

    /*section {
      position: relative;
      top: 150px;
       margin-right: 20%;
        display: flex;
       
        padding: 20px;
      }*/

     /* .self {
        position: relative;
        top: 150px;
        margin-left: 10%;
        padding: 20px;
        float: left;
        display: flex;
        left:20px;
        width: 490px;
        height: 590px;
        object-fit: contain;
      }*/
    /*  .about {
        outline-style: solid;
        outline-color: #353935;
        color: #353935;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-style: normal;
        font-weight: 100px;
        font-size: 12px;
        border: 20px;
        padding: 15px;
        border-radius: 5px;
    } */
    
    .linebar1 {
      outline-style: solid;
      outline-width: 1px;
      outline-color:#1A191A;
      width: 45%;
      margin: auto;
      margin-right: 52.5%;
      padding: 0;
     margin-top: 15px;
      
    }
    
    .linebar {
      outline-style: solid;
      outline-color:#1A191A;
      outline-width: 1px;
      width: 95%;
     margin: auto;
     padding: 0;
    }

   
   

  .main-title {
    margin-top: 10%;
    margin-left: 2.5%;
     width: 95%;
   color: 	#002fa7;
   
   font-family: "Theinhardt-Pan-Bold";
 font-size: 50px;
 text-transform: uppercase;
   }
/*.space {
  width: 100%;
  height: auto;
  padding-right: 300px ;
}*/
/*.portfolio-bio {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}*/
.portfolio-bio {
  column-gap: 35px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 35px;
  padding-right:35px;
  margin: auto;
}
/*.profile {
  position: relative;
  max-width: 100%;
  max-height: auto;
  object-fit:contain;
  padding-right: 35px;
  padding-left: 35px;
}*/
img {
  width: 450px;
  filter: grayscale(100%);
}
.profile {
  max-width: 100%;
  height: auto;
 object-fit: contain;
  
}

.bio {
  min-width: 200px;
  font-family: "Theinhardt-Pan-regular";
  font-size: 18px;
}

.bio p {
  line-height: 25px;
  margin-top: 1em;
}
 /* .bio {
    display: flex;
    flex-direction: column;
    /gap: 15px;/
    color: 	#1A191A;
  font-family: "Theinhardt-Pan-regular";
  font-size: 18px;
  padding-right: 35px;
  
}*/
.I {
  font-family: "latino-gothic-variable",sans-serif;
  font-variation-settings: 'wght' 50, 'wdth' 76, 'slnt' 1; 
  font-weight: 400;
  font-size: 35px;
  color: #6b6b6b;
}
@media (min-width: 600px) {
  .portfolio-bio {
      flex-direction: row;
      align-items: flex-start;
  }
 
  .profile {
    flex: 1;
  }
  .bio {
      flex: 2;
  }
}

  .handprint {
    width: 35%;
    height: auto;
    object-fit: contain;
    position: absolute;
    z-index:-1;
    
  }
  .link {
    color: 	#002fa7;
    text-decoration: underline;
  }
  .info-content {
    /*margin-left: 35px;
    margin-right: 35px;*/
    padding-top: 1px;
    width: 95%;
  margin: auto;
    flex-wrap: wrap;
  }
  .title {
    color: #1A191A;
    font-family: "Theinhardt-Pan-Italic";
    /*font-family: "latino-gothic-variable",sans-serif;
    font-variation-settings: 'wght' 50, 'wdth' 76, 'slnt' 1; */
        font-size: 19px;
        
  }
  /*.title2 {
    color: #353935;
        font-family: "Theinhardt-Pan-regular";
        font-size: 15px;
  }*/
  .italic {
    color: 	#002fa7;
        font-family: "Theinhardt-Pan-Italic";
        font-size: 15px;
  }
  .info {
    float: left;
    color: 	#002fa7;
        font-family: "Theinhardt-Pan-regular";
        font-size: 15px;
  }
  .experience-info {
    float: left;
    margin-left: -10px;
    color:	#002fa7;
        font-family: "Theinhardt-Pan-regular";
        font-size: 15px;
  }
  .awards-info {
    float: left;
    margin-left: 27px;
    color: 	#002fa7;
        font-family: "Theinhardt-Pan-regular";
        font-size: 15px;
  }
  .con-info a {
    float: left;
    margin-left: 45px;
    color: 	#002fa7;
    font-family: "Theinhardt-Pan-regular";
    font-size: 15px;
    text-decoration: underline;
    
  }
  .container {
    display:flex;
    flex-wrap: wrap;
    column-gap: 15%;
   
   
    /*padding-left: 0%;
    padding-right: 0%;*/
  }
 /* .container2 {
    display: flex;
    column-gap: 14.3%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .container3 {
    display: flex;
    column-gap: 16.3%;
  }*/
  .container4 {
   display: flex;
    column-gap: 25.5%;
    padding-left: 0%;
    padding-right: 0%;
}
  .education {
   margin-top: 4%;
  }
  .experience {
    margin-top: 2%;
    
  }
  .accomplishments {
    margin-top: 2%;
  
  }
  /* .contact {
  margin-top: 2%;
  padding-right: 20px;
  margin-left: 20px;
  padding-left: 50px;
}*/
 /*.wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 }*/
  * {
    box-sizing: border-box;
  }
  .fade-in-text {
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    outline-style: solid;
    outline-color: 	#1A191A;
    outline-width: 3px;
    background-color: transparent; /* Set a background color */
    color: 	#1A191A; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
  font-weight: 100px;
    font-size: 15px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: 	#1A191A; /* Add a dark-grey background on hover */
    color: #ececec;
  }
  h4 {
    color: 	#1A191A;
    font-family: "Theinhardt-Pan-Regular";
        font-size: 12px;
letter-spacing: 2px;
word-spacing: 2px;
  } 

  /*img {
    max-width: 100%;
    height: auto;
  }*/

 

  .me {
    animation: fly 20s linear infinite;
    top: -60%;
    left: -15%;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    width: 30%;
    
    object-fit: contain;
    }
    
    @keyframes fly {
      0% {
        transform: translate(0,110vh) rotateZ(-90deg); 
    }
    50% {
    transform: translate(120vw,-4%) rotateZ(20deg);
    }
    60% {
      transform: translate(90vh,2%) rotateZ(50deg); 
    }
    100% {
      transform: translate(-60%,140vh) rotateZ(100deg); 
    }
    } 

    .email {
      color:	#ececec;
    }
    .wrapper {
      color:	#ececec;
        background-color: #1A191A;
      text-align: center;
      max-width: 100%;
      overflow: hidden;
    }
    
    .marquee {
      
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      animation: marquee 11s linear infinite;
    }
    
    .marquee p {
      text-transform: uppercase;
      font-family: "Theinhardt-Pan-bold";
        font-size: 30px;
      display: inline-block;
    }
    
    @keyframes marquee {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-50%, 0, 0);
      }
    }

    .custom-cursor {
      position: fixed;
      top: 0;
      left: 0;
      width: 25px; /* Adjust size as needed */
      height: 25px;
      background-color: #002fa7; /* Customize color and opacity */
      border-radius: 50%; /* Make it a circle */
      pointer-events: none; /* Ensure it doesn't block clicks */
      z-index: 10000; /* Keep it above all other elements */
      transition: transform 0.1s ease, background-color 0.2s ease, opacity 0.2s ease;
      transform: translate(-50%, -50%);
      opacity: 0; /* Start as hidden */
    }
    .hidden {
      opacity: 0; /* Hide when out of bounds */
    }