body {
  margin: 0;
  background-color: 	#ffffff;
  /*cursor: url('arrow-cursor.png') 0 0, auto; /* set hot spot (x y) */
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  /* Adjust size as needed */
   width: 18px;
  height: 18px;
 /* border: 2px solid #1A191A;*/
  /* black outline */
  background-color: rgba(236, 236, 236, 0.5);
  background-color: #1A191A;
  /* light gray with 40% opacity */
  border-radius: 50%;
  /* Make it a circle */
  pointer-events: none;
  /* Ensure it doesn't block clicks */
  z-index: 10000;
  /* Keep it above all other elements */
  transition: transform 0.1s ease, background-color 0.2s ease, opacity 0.2s ease;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* Start as hidden */
}

/* Expanded and color-changed cursor when hovering links */
.custom-cursor.link-hover {
  transform: translate(-50%, -50%) scale(2);
  background-color: rgba(236, 236, 236, 0.5);
  /*border: 1px solid #1A191A;*/
}

/*.icon{
  margin-left: 5px;
  width: 70px;
  height: auto;
}*/

/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .nav-items {
    display: none;
    width: 100%;
    /*background-color: #e1e1e1;*/
    position: absolute;
    top: 55px; /* Adjust based on your .topnav height */
    right: 0; /* Align to the right */
    z-index: 999;
   /* border-bottom: 1px solid #ccc;*/
   /* border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    padding: 0;
    padding-bottom: 20px;
  }

  .nav-items ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding: 0;
    margin: 0;
  }

  .nav-items li {
    margin: 0;
    margin-right: -10px;
  }

  .hamburger {
    display: block;
   /* font-size: 24px;*/
    cursor: pointer;
    margin-left: auto;
  }

  .nav-items.show {
    display: block;
  }
}


  .icon {
    margin-left: 5px;
    width: 70px;
    height: auto;
    cursor: pointer;
  }

.gabe {
font-family: "articulat-cf", sans-serif;
font-weight: 700;
font-style: normal;
font-size: clamp(15px, 8vw, 15px);
  color: #1A191A;
}

.heading1:hover:not(.active) {
color: #6b6b6b;
}

/*.topnav {
 margin-top: -20px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-family: "articulat-cf", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: clamp(13px, 8vw, 13px);
  background-color: #ffffff;
border-bottom: 2px solid #1A191A;
}*/

.topnav {
/*padding-left: 30px;
padding-right: 30px;*/
  width: 100%;
  position: fixed;
  top: 0; /* safer than margin-top */
  left: 50%;
  transform: translateX(-50%); /* centers horizontally */
  display: flex;
  justify-content: space-between; /* centers content inside */
  align-items: center; 
  font-family: "articulat-cf", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
   font-size: clamp(10px, 2vw, 13px);
  background-color: #ffffff;
 /* border-bottom: 2px solid #1A191A;*/
}

.name a {
 
  text-decoration: none;
  color: inherit;
}

.nav-items ul {
 
  display: flex;
  gap: 30px; /* spacing between links */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items li a {
  margin-right: 20px;
  display: block;
  line-height: 30px;
  color: #1A191A;
 /* color: #1A191A;*/
  text-decoration: none;
}

.nav-items a:hover:not(.active) {
  text-decoration: overline dotted;
  text-decoration-thickness: 3px;
  color: #7f7f7f;
}

/*.nav-items .active {
  text-decoration: overline dotted;
  text-decoration-thickness: 3px;
}*/



/*.tabs {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.VerticalNav {
  display: flex;
  flex-direction: column;
  width: 360px;
  background-color: transparent;
  box-sizing: border-box;
}

.VerticalNav a {
  text-decoration: none;
  color: black;
  font-family: "indivisible", sans-serif;
  font-weight: 500;
}

.VerticalNav a:hover {
  color: #ff0000;
} */


/*.line1 {
border-right: 2px solid #7f7f7f;
padding: 450px 0; 
}*/

.line {
border-top: 2px solid #7f7f7f;
padding: 20px 0; /* optional: add space between borders and content */
margin-left: 20px;
margin-right:20px;
}

.divider {
border-top: 2px dashed #7f7f7f;
margin-top: 50px;
margin-left: 20px;
margin-right:20px;
}

.divider2 {
border-top: 2px solid #7f7f7f;
padding: 5px 0; /* optional: add space between borders and content */
margin-top: 30px;

}


a {
  text-decoration: none;
  /*color: #69df46;*/
  color: #1A191A;
  
}
.link {
line-height: 0px;
text-transform: uppercase;
font-family: "indivisible", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 25px;
/*font-size: clamp(1rem, 2vw + 0.1rem, 1.5rem);*/
}

h3 {
padding-top: 40px;
padding-bottom: 20px;
margin: 20px;
color: #7f7f7f;
font-family: "indivisible", sans-serif;
font-weight: 500;
font-style: normal;
font-size: clamp(0.9rem, 2vw, 8rem);
/*text-transform: uppercase;*/
}
.title2 {
  margin: 20px;
  font-family: "dico-code-one", mono;
  font-weight: 700;
  font-style: normal;
}
.project-info {
   color: #7f7f7f;
  display: flex;
  /*justify-content: space-between; /* pushes them to opposite sides */
  align-items: center; /* keeps text aligned nicely */
  gap: 7rem;
  /*gap: 24%;*/
  font-family: "indivisible", sans-serif;
font-weight: 500;
font-style: italic;
 font-size: clamp(0.9rem, 1vw, 1rem);
 padding-top: 7px;
}

p {
font-size: 13px;
color: #1A191A;
font-family: "owners-text", sans-serif;
font-weight: 500;
font-style: normal;
}

.text {
  /* font-family: "dico-code-one", mono;
  font-weight: 400;
  font-style: normal;*/
  font-family: "owners-text", sans-serif;
font-weight: 400;
font-style: normal;
   font-size: clamp(13px, 0.9vw, 18px);
  line-height: clamp(20px, 1.4vw, 30px);
margin:0 20px;
/*padding-top: -30px;*/
}

span {
  font-family: "dico-code-one", mono;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(8px, 0.9vw, 8px);
}

/*.text {
width: 50%;
padding-top: 10px;
padding-bottom: 40px;
font-size: 25px;
}*/

@media (max-width: 768px) {
  .text {
    width: 100%;
  }
}


.container {
width: 35%;
padding-top: 130px;
padding-bottom: 10px;
}

@media (max-width: 768px) {
  .container, .container2 {
    width: 100%;
   /* padding-top: 60px;   /* optional: adjust spacing for mobile */
   /* padding-bottom: 100px;*/
  }
}

.container2 {
width: 95%;
padding-top: 20px;
}

/* MOBILE: stack image above text */
@media (max-width: 600px) {
  .content, .container, .container2 {
    flex-direction: column;
     /* stack vertically */
    /*align-items: center;      /* optional: center text under image */
   /* text-align: center;       /* optional: center text */
  }
}


.content {
  /*font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(20px, 2.5vw, 20px);*/
  font-family: "dico-code-one", mono;
  font-weight: 400;
  font-style: normal;
   font-size: clamp(13px, 0.9vw, 18px);
  line-height: clamp(20px, 1.4vw, 30px);
  display: flex;
  flex-wrap: wrap;         /* Wrap to the next row */
  
  gap: 35px;               /* Space between items */
  margin: 0 auto;          /* Center the whole row */
  padding: 0 20px;         /* Optional: side breathing room */
}

.title{
margin: 20px;
font-size: 14px;
color: #1A191A;
/*font-family: "owners-text", sans-serif;
font-weight: 500;
font-style: normal;*/
font-family: "dico-code-one", mono;
        font-weight: 700;
        font-style: normal;
text-transform: uppercase;
}

.caption {
margin-top: 20px; 
font-size: 14px;
color: #333;

font-family: "indivisible", sans-serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
  /*text-align: center;*/
}

.button-container {
  margin: 20px;
  display: flex;
  /*flex-wrap: wrap; /* allow buttons to wrap on small screens */
  gap: 10px; /* space between buttons */
}

.button1 {
   font-size: clamp(11px, 0.9vw, 11px);
  font-family: "dico-code-one", mono;
  font-weight: 700;
  font-style: normal;
  padding: 5px 15px;
  background-color: #1A191A;
  border: 3px solid transparent;     
  border-radius: 5px;
  margin: 0;
  transition: all 0.3s ease; /* smooth hover effect */
  
}

.button1 a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.button1:hover {
  background-color: #bebebe;
 /* border-color: #7f7f7f;*/
}

.button1:hover a {
  font-style: italic;
  color: #ffffff;
}

.button2 {
   font-size: clamp(11px, 0.9vw, 11px);
  font-family: "dico-code-one", mono;
  font-weight: 700;
  font-style: normal;
  padding: 5px 15px;
  background-color: transparent;
  border: 3px dotted #1A191A;         /* Dotted black border */
  border-radius: 30px;
  margin: 0;
}

.button2 a {
  color: #1A191A;
  text-decoration: none;
   cursor: pointer;
}

.button2:hover {
  background-color: transparent;
  border: 2px solid #7f7f7f;
}

.button2:hover a {
  font-style: italic;
  color: #7f7f7f;
}







.Articulat-CF-Bold {
      font-family: "articulat-cf", sans-serif;
      font-weight: 700;
      font-style: normal;
      }
      
      .Articulat-CF-Bold {
        font-family: "articulat-cf", sans-serif;
        font-weight: 800;
        font-style: normal;
        }
  
      .Articulat-CF-Extra-Bold {
        font-family: "articulat-cf", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      .Articulat-CF-Heavy {
        font-family: "articulat-heavy-cf", sans-serif;
      font-weight: 900;
      font-style: normal;
      }
      
      .Articulat-CF-Medium {
        font-family: "articulat-cf", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      .Articulat-CF-Regular {
        font-family: "articulat-cf", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      .Articulat-CF-Regular {
      font-family: "articulat-cf", sans-serif;
      font-weight: 300;
      font-style: normal;
      }
      
      .Dico-Code-One-Regular {
        font-family: "dico-code-one", mono;
        font-weight: 400;
        font-style: normal;
      }
      
      .Dico-Code-One-Bold {
        font-family: "dico-code-one", mono;
        font-weight: 700;
        font-style: normal;
      }
      
      .Dico-Code-One-Bold-Italic {
        font-family: "dico-code-one", mono;
        font-weight: 700;
        font-style: italic;
      }
