body {
    background-color: 	#ececec;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
    margin: 0;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


.heading1{
    margin-top: -20px;
    display: inline-block;
  font-family: "Theinhardt-Pan-Bold";
  font-size: 23px;
  letter-spacing: -4px;
  line-height: 40px;
  text-align: left;
  }
  h1:hover:not(.active) {
  color: gray;
  }
  .topnav {
    overflow: hidden;
    font-family: "Theinhardt-Pan-regular";
    font-size: 12px;
    width: 95%;
    margin: auto;
  }
      @font-face {
        font-family: "Theinhardt-Pan-Bold";
        src: url(Theinhardt-Pan-Bold/Theinhardt-Pan-Bold.otf);
      }
      
      @font-face {
        font-family: "Theinhardt-Pan-Regular";
        src: url(Theinhardt-Pan-Regular/Theinhardt-Pan-Regular.otf);
      }

       /* Change the color of links on hover */
  .topnav h3:hover:not(.active) {
    background-color: transparent;
   /* color: #002FA7;*/
    text-decoration: overline;
  }
  
  a {
    text-decoration:none;
    color: #1A191A;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  li a {
    text-align: right;
    display: block;
    line-height: 13px;
  }
  .active {
    text-decoration: overline;
  }

  .main-title {
    padding-top: 45px;
  width: 95%;
  margin: auto;
  color: #002fa7;
  position: relative;
  font-family: "Theinhardt-Pan-Bold";
  font-size: 50px;
  text-transform: uppercase;
  /*text-decoration: underline  gainsboro;;
    text-decoration-style:solid;
    text-decoration-thickness: 2px ;
    text-underline-offset: 20px;*/
  }
  .linebar1 {
    outline-style: solid;
    outline-width: 1px;
    outline-color:#1A191A;
    width: 45%;
    margin: auto;
    margin-right: 52.5%;
    padding: 0;
   margin-top: 15px;
    
  }
  .title1 {
    font-family: "latino-gothic-variable",sans-serif;
    font-variation-settings: 'wght' 50, 'wdth' 76, 'slnt' 1; 
    font-weight: 400;
    font-size: 35px;
        width: 95%;
        margin: auto;
        /*line-height: 2px;*/
        position: relative;
        top: 40px;
  }
  .title2 {
    font-family: "latino-gothic-variable",sans-serif;
    font-variation-settings: 'wght' 50, 'wdth' 76, 'slnt' 1; 
    font-weight: 400;
    font-size: 35px;
        width: 95%;
        margin: auto;
        /*line-height: 2px;*/
        top: 40px; 
        padding-bottom: 20px;
  }

  .main_content {
     column-gap: 20%;
     width: 95vw;
     padding-bottom: 45px;
     height:fit-content;
     display: block;
  margin-left: auto;
  margin-right: auto;
   }
   .main_content1{
    padding-top: 75px;
     padding-bottom: 45px;
     height:fit-content;
     display: block;
  margin-left: auto;
  margin-right: auto;
   }
     .picture_wrapper {
        margin: auto;
        background-color: #d0d0d0;
        
     }
 
       video {
         /* override other styles to make responsive */
         width: 100%    !important;
         height: auto   !important;
        object-fit: contain;
       }

  * {
    box-sizing: border-box;
  }

  /*video {
      max-width: 100% !important;
      height: auto   !important;
     display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 35px;
    }*/
    .throbber {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        padding-bottom: 45px;
        max-width: 45%;
        height: auto;
       object-fit: contain;
    }
    .banner_animation {
      width: 100%;
      height: fit-content;
      margin: auto;
      
    }

  .fade-in-text {
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
    * {
      transition: all .4s;
    }
  
  
      .imgLink { border: none; background: none; }
.imgLink img
{
  height: 8rem;
}
.imgLink:active img, .imgLink:focus img
{
  height: 16rem;
}
       

  h4 {
    color: #1A191A;
    font-family: "Theinhardt-Pan-Regular";
        font-size: 12px;
letter-spacing: 2px;
word-spacing: 2px;
  } 
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    /*border-radius: 50%;*/
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: transparent;
    color: #1A191A;
  }
  .fa-linkedin {
    background: transparent;
    color: #1A191A;
  }
  .footer {
    position:relative;
    margin: auto;
    margin-top: 55px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
 }

 
 